.disposition{
    display: flex;
    flex-direction: column;
}
.disposition{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.disposition > h1{
    text-align: center;
    width: 100%;
    color:  #1B2631;
}
.disposition> .cards{
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 50%;
}
.btn-primary {
    color: #fff;
    background-color: rgba(21, 67, 96);
    border-color: rgba(21, 67, 96);
}
.graphe{
    display: flex;
    flex-direction: row;
}

.chartjs-render-monitor {
    display: block;
    padding-top: 15% !important;
    height: 370px !important; 
    width: 550px !important;
}