<script src="node_modules / chart.js / src / chart.js"> </script>
<div class="disposition" *ngIf="authenticated">
    <h1>Bateau de Thibault</h1>
    <h2>{{message}}</h2>
    <!--<div class="cards">
        <div class="card">
            <div class="card-header">
                Détails produit
            </div>
            <div class="card-body">
                <p class="card-text">Afficher les détails d'un produit</p>
                <a href="/detailsProduit" class="btn btn-primary">Envoyer</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Gerer les produits
            </div>
            <div class="card-body">
                <p class="card-text">Gérer tous les produits</p>
                <a href="/listProduits" class="btn btn-primary">Envoyer</a>
            </div>
        </div>
    </div> -->
    <div class="graphe">
        <div style="display: block">
            <canvas baseChart [datasets]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
            </canvas>
        </div>
        <div>
            <div style="display: block">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                    [legend]="barChartLegend" [chartType]="barChartType ">
                </canvas>
            </div>
        </div>
    </div>
</div> 
<div class="disposition" *ngIf="!authenticated">
    {{message}}
</div>