
<div class="container" *ngIf="authenticated">
   <h1>Page d'affichage du produit</h1>
   <ng-multiselect-dropdown
    [placeholder]="'Selectionner un produit'"
    [data]="products"
    [(ngModel)]="selectedItems"
    [settings]="dropdownSettings"
    (onSelect)="onItemSelect($event)"
    (onSelectAll)="onSelectAll($event)" 
    class="multiselect"></ng-multiselect-dropdown>
      
   <mat-card *ngFor="let p of listDetailProduct">
   <mat-card-header>
      <mat-card-title>{{p.name}}</mat-card-title>
      <mat-card-subtitle>Prix : {{p.price}}€
      </mat-card-subtitle>
   </mat-card-header>
   <mat-card-content>
      <p>
         Quantité en stock : {{p.quantityInStock}}
      </p>
      <p>
         Promo actuelle : {{p.newprice}}%
      </p>
   </mat-card-content>
   <mat-card-actions>
      <input type="input-field" onClick="new Promo()" placeholder="Nouvelle Promo" #inputDiscount>
      <br>
      <button mat-button (click)="setProductPromo(inputDiscount.value)">Modifier promotion</button>
   </mat-card-actions>
   </mat-card>
</div>

<div *ngIf="!authenticated">
   {{message}}
</div>
