<div *ngIf="authenticated">
    <div *ngFor="let cat of listCategory" class="card">
        <h3 *ngIf="cat==0">Liste Poissons</h3>
        <h3 *ngIf="cat==1">Liste fruits de mer</h3>
        <h3 *ngIf="cat==2">Liste crustacés</h3>
        <table id="example" class="display" width="100%">
            <thead>
                <tr>
                    <th>NOM</th>
                    <th>ID</th>
                    <th>PRIX</th>
                    <th>PRIX SOLDÉ</th>
                    <th>STOCK</th>
                    <th>VENDU</th>
                    <th>COMMENTAIRE</th>
                    <th>AJOUT STOCK</th>
                    <th>CHANGER PROMOTION</th>
                </tr>
            </thead>
            <tbody *ngFor="let product of products">
                <tr *ngIf="product.category == cat">
                    <td>{{ product.name }}</td>
                    <td>{{ product.id }}</td>
                    <td>{{ product.price}}</td>
                    <td *ngIf="product.discount != 0; else elseBlock">{{ product.price_on_sale }}</td>
                    <ng-template #elseBlock>
                        <td> {{ product.price }} </td>
                    </ng-template>
                    <td>{{ product.quantityInStock }}</td>
                    <td>{{ product.quantity_sold }}</td>
                    <td>{{ product.comments }}</td>
                    <td>
                        <input class-name="input input-UpdateProductsData" #inputStock name="inputStock"
                            id="{{'addStocks_'+product.id}}" (keyup)="onKey($event)">
                    </td>
                    <td>
                        <input class-name="input input-UpdateProductsData" #inputDiscount name="inputDiscount"
                            id="{{'addDiscount_'+product.id}}" (keyup)="onKey($event)">
                    </td> 
                </tr>
            </tbody>
        </table>
        <button id={{cat}} class-name="btn-updateProductsData" name="btnUpdateProductsData" 
                    (click)="onClick($event)">Save</button>
    </div>
</div>
<div *ngIf="!authenticated">
    {{message}}
</div>