/* td {
    text-align: center;
    display: table-cell;
    vertical-align: inherit;
}

table, button, h3 {
    letter-spacing: 1px;
    font-size: 0.8rem;
    margin-left: auto;
    margin-right: auto;
}

.card {
    /* Add shadows to create the "card" effect */
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  } */
  
  /* On mouse-over, add a deeper shadow */
  /* .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  } */
  
  /* Add some padding inside the card container */
  /*.container {
    padding: 2px 16px;
  } */

button {
  background-color: #48879b;
  border: none;
  color: white;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 3px;
}

.card  {
  margin-bottom: 2%;
}