<form [formGroup]="form" (submit)="submit()" class="form-signin">
    <h1 class="h3 mb-3 fw-normal">Veuillez vous connecter</h1>

    <input formControlName="email" type="email" class="form-control" placeholder="Email" required>

    <input formControlName="password" type="password" class="form-control" placeholder="Password" required>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Se connecter</button>
</form>