<!--<div class="general">
  <div class="navbar">
    <nav>
      <div>
        <a routerLink="/home">Home</a>
      </div>
      <div>
        <a routerLink="/detailsProduit" style="color: white;">Details Produit</a>
      </div>
      <div>
        <a routerLink="#" style="color: white;">Listes Produits</a>
      </div>
    </nav>
  </div>
</div>-->

<router-outlet></router-outlet>
