.general{
    display: flex;
    flex-direction: row;
    
}

.navbar{
    background-color: #1B2631 ;
    margin-top: 5%;
    height: 650px;
    width: 10%;
    display: flex;
    flex-direction: column;
   
}
.navbar > nav > div > a{
    color: white;
    text-align: center;
}
.navbar >nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navbar > nav > div{
    margin-top: 10%;
} 
