<!--<div class="page-container">
    <div class="sidebar">
        <div class="list-items" *ngIf="!authenticated">
            <a routerLink="/login" routerLinkActive="selected" class="list-item">
                <span class="material-icons">login</span>
                Login
            </a>
        </div>
        <div class="list-items" *ngIf="authenticated">
            <a routerLink="/home" routerLinkActive="selected" class="list-item">
                <span class="material-icons">home</span>
                Home
            </a>
            <a routerLink="/detailsProduit" routerLinkActive="selected" class="list-item">
                <span class="material-icons">set_meal</span>
                Détails Produit
            </a>
            <a routerLink="/listProduits"  routerLinkActive="selected" class="list-item">
                <span class="material-icons">view_list</span>
                Liste De Produits
            </a>
            <a routerLink="/logout" routerLinkActive="selected" class="list-item" (click)="logout()">
                <span class="material-icons">logout</span>
                Logout
            </a>
        </div>
    </div>
    <div class="page-content-container">
        <router-outlet></router-outlet>
    </div>
</div>-->
<div class="page-container">
    <div class="sidebar">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column" *ngIf="authenticated">
                    <a class="nav-item" href="/home">
                        <div class="logo-image">
                              <img src="../../assets/data/logo.png" class="img-fluid">
                        </div>
                     </a>
                    <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/home" routerLinkActive="selected">
                        <i-feather name="bar-chart2" class="someclass"></i-feather>
                        Accueil
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" routerLink="/detailsProduit" routerLinkActive="selected">
                        <span data-feather="file"></span>
                        <i-feather name="file" class="someclass"></i-feather>
                        Détails Produits
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" routerLink="/listProduits"  routerLinkActive="selected">
                        <i-feather name="shopping-cart" class="someclass"></i-feather>
                        Listes des produits
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" routerLink="/logout" routerLinkActive="selected" (click)="logout()">
                        <i-feather name="log-out" class="someclass"></i-feather>
                        Déconnexion
                    </a>
                    </li>
                </ul>
                <ul class="nav flex-column" *ngIf="!authenticated">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" routerLink="/login" routerLinkActive="selected">
                            <i-feather name="log-in" class="someclass"></i-feather>
                        Connexion
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="page-container-fluid">
        <router-outlet></router-outlet>
    </div>
</div>
<script src="path/to/dist/feather.js"></script>    
